@keyframes textAppear {
    from {color: black;}
    to {color: white;}
}

@keyframes contentAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes appearAndShow {
    0% {opacity: 0; height: 0px;}
    1% {opacity: 0; height: auto;}
    100% {opacity: 1; height: auto;}
}

@keyframes disappearAndHide {
    0% {opacity: 1; height: auto; margin-top: 20px;}
    99% {opacity: 0; height: auto; margin-top: 20px;}
    100% {opacity: 0; height: 0px; margin-top: 0px;}
}

.showText {
    animation-name: textAppear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.appearBDiv {
    animation-name: contentAppear;
    animation-duration: 1s;
    animation-delay: 2s;/*for birth input div*/
    animation-fill-mode: forwards;
}

.disappearBDiv {
    animation-name: disappearAndHide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.appearDescription {
    animation-name: appearAndShow;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.appearMainContent {
    animation-name: contentAppear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
