body {
    margin: 0px;
    padding: 0px;
    background: #000000;
    font-family: serif;
}

#header {
    width: 1000px;
    height: 300px;
    margin: auto;
    padding-top: 50px;
}

#header h1 {
    width: 1000px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 5em;
    font-weight: normal;
    color: black;

    animation-name: textAppear;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

#birthInput {
    width: 1000px;
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    opacity: 0;
    text-align: center;/*to center #fields*/

    overflow: hidden;
}

#fields {
    display: inline-block;/*for centering*/
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

.birthText {
    width: 1000px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

#birthInput input, #birthInput input:focus {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border: none;
    border-bottom: solid 1px white;
    outline: none;
    background: black;
    font-family: serif;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

#month, #day {
    width: 40px;
}

#year {
    width: 60px;
}

.dateSeparate {
    display: inline-block;
    width: 5px;
    margin: 0px;
    padding: 0px;
    background: black;
    font-size: 1.2em;
    text-align: center;
    color: white;
}

#error {
    width: 1000px;
    margin: 20px 0px;
    padding: 0px;
    font-size: 1.2em;
    text-align: center;
    color: black;
}

#goButton {
    display: block;
    width: 80px;
    height: 20px;
    margin: auto;
    padding: 3px;
    border: 1px solid white;
    background: black;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    color: white;
}

#description {
    height: 0px;
    overflow: hidden;
}

#description p {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    padding: 0px;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

#container {
    width: 1000px;
    height: 2452800px;
    margin: auto;
    opacity: 0;
}

#sideSection {
    width: 100px;
    height: 2452800px;
    float: left;
}

.sideBox {
    width: 90px;
    height: 35039px;
    margin-right: 10px;
    border-top: solid 1px white;
    color: white;

    background-image: url("sidebg.png");
    image-rendering: pixelated;
}

.topMiniBox {
    width: 90px;
    height: 87px;/*to make the text line up with the background image's lines*/
    text-align: left;
    font-size: 1.3em;
}

.miniBox {
    width: 75px;
    height: 96px;
    margin-right: 15px;
    text-align: right;
    font-size: 1em;
    color: white;
}

#mainSection {
    width: 900px;
    height: 2452800px;
    margin: auto;
    float: left;
}

#past {
    width: 900px;
    height: 595680px;/*temp*/
    margin: auto;
    background: white;
}

#current {
    display: block;
    width: 900px;
    height: 672px;
    margin: auto;
}

#future {
    width: 898px;
    height: 1856448px;
    margin: auto;
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
}

#footer {
    width: 1000px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 1.2em;
    color: white;
}

a, a:visited, a:hover, a:active {/*for github link on bottom*/
    color: white;
}
