body {
    margin: 0px;
    padding: 0px;
    background: #000000;
    font-family: serif;
}

#container {
    width: 1000px;
    margin: auto;
    height: 2452800px;
}

#sideSection {
    width: 100px;
    height: 2452800px;
    float: left;
}

.sideBox {
    float: right;
    width: 90px;
    height: 35039px;
    margin-right: 10px;
    border-top: solid 1px #fff;
    color: #fff;

    background-image: url("sidebg.png");
    image-rendering: pixelated;
}

.topMiniBox {
    width: 90px;
    height: 87px;/*to make the text line up with the background image's lines*/
    text-align: left;
    font-size: 1.3em;
}

.miniBox {
    width: 75px;
    margin-right: 15px;
    height: 96px;
    color: #fff;
    text-align: right;
    font-size: 1em;
}

#mainSection {
    width: 900px;
    margin: auto;
    height: 2452800px;
    float: left;
}

#past {
    background: #FFFFFF;
    width: 900px;
    margin: auto;
    height: 595680px;/*temp*/
}

#current {
    display: block;
    width: 900px;
    margin: auto;
    height: 672px;
}

#future {
    width: 898px;
    margin: auto;
    height: 1856448px;
    border-left: solid 1px #fff;
    border-right: solid 1px #fff;
}